<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API Secret Key</key>
	<string>YXRJTcjx0QjZ8sGdmWuI3bAGVKL12Yyey6RzfJ9SftEmpjZKwL</string>
	<key>API Key</key>
	<string>wuiQqGcIAu6N3nCOa9rX5wdNr</string>
</dict>
</plist>
